{% extends "base.html" %}
{% load static %}

{% block 'content' %}
<div style="text-align: center;" class="mb-4 mt-4">
    <h1 class="display-1" style="font-family: 'Updock';">
        Has cerrado sesión
    </h1>
    <br>
    <img src="{% static 'flan_kawaii.gif' %}" alt="flancin" width="130" height="130">
    <h4>
        Gracias por preferir <img src="{% static 'OnlyFlans.png' %}" alt="logo" header="200" width="200" class="mb-4">
    </h4>


</div>

<div style="text-align: center;" class="mt-4 mb-4">
    <a href="{% url 'login' %}" class=" btn  text-white"
        style="background-color: blueviolet; border-color: blueviolet;">
        Haz clic aquí para acceder a tu cuenta nuevamente
    </a>
</div>
{% endblock %}