{% extends 'base.html' %}

{% block 'content' %}
<div class="container">
    <h1 class="text-center mb-3 display-1" style="font-family: 'Updock';">
        Acerca de OnlyFlans
    </h1>
    <p>
        Este proyecto surgió como una rebelión hacia los alimentos procesados.
        Don Pelusa, nuestro Fundador, sintió la necesidad de volver a los flanes artesanales
        hechos a base de leche ordeñada de vacas de pastura libre, previamente pasteurizada;
        tal como lo preparaba su abuelita.<br>
    </p>
    <div style="text-align: center;">
        <figure class="figure">
            <img src="https://pbs.twimg.com/profile_images/706844157093027840/2Aan_aSU_400x400.jpg" width="200"
                height="200" class="figure-img img-fluid rounded" alt="big-boss">
            <figcaption class="figure-caption">Don Pelusa, Fundador de OnlyFlans.</figcaption>
        </figure>
    </div>
    <p>
        Para rescatar los sabores de los ingredientes naturales, OnlyFlans tiene una parcela
        con una vasta variedad de árboles frutales y plantas en el sur de Chile
        la cual es autosustentable y amigable con el ambiente. Todos los flanes son hechos el mismo
        día con ingredientes frescos. <br>
    </p>

    <p>
        OnlyFlans no discrimina y es por eso que también tiene variedades veganas para cada flan. Además,
        los empaques son biodegradables.
    </p>

</div>
{% endblock %}