{% extends 'base.html' %}

{% block 'content' %}
<div class="container">

<h1 class="single__title display-1" style="font-family: 'Updock';">Flan de queso y leche condensada</h1>
<hr />

    <div style="text-align: center;">
        <figure class="figure">
            <img src="https://imag.bonviveur.com/flan-de-queso-decorado-con-pinones-y-frambuesas.jpg" width="600" height="500"
                class="figure-img img-fluid rounded" alt="flan de queso">
            <figcaption class="figure-caption">Flan de queso y frutas.</figcaption>
        </figure>
    </div>
Aunque la receta más tradicional es la del flan de huevo, existen recetas para todos los gustos: flan de café, de castañas, de
turrón, de manzana, etc. </p>
<h2><strong>Información de la receta </strong></h2>


<ul>
    <li>
        <strong>Tiempo de preparación</strong>: 5 minutos
    </li>
    <li>
        <strong>Tiempo de cocción</strong>: 1 hora
    </li>
    <li>
        <strong>Tiempo total</strong>: 1 hora y 5 minutos
    </li>
    <li>
        <strong>Raciones</strong>: 8
    </li>
    <li>
        <strong>Categoría</strong>: postre
    </li>
    <li>
        <strong>Tipo de cocina</strong>: española
    </li>
    <li>
        <strong>Calorías</strong>: 510 kcal por ración
    </li>
</ul>
<h2><strong>Ingredientes del flan de queso y leche condensada para 8 personas </strong></h2>
<ul>
    <li>225 g de queso mascarpone</li>
    <li>5 huevos</li>
    <li>400 g de leche condensada</li>
    <li>400 ml de leche</li>
    <li>1 vaina de vainilla</li>
    <li>Caramelo líquido</li>
    <li>Piñones y frambuesas para decorar</li>
</ul>
    <div style="text-align: center;">
        <figure class="figure">
            <img src="https://imag.bonviveur.com/ingredientes-para-elaborar-flan-de-queso.jpg " width="600"
                height="500" class="figure-img img-fluid rounded" alt="flan de queso">
            <figcaption class="figure-caption">Ingredientes necesarios</figcaption>
        </figure>
    </div>
<h2><strong>Cómo hacer el flan de queso con leche condensada</strong></h2>
<p>Precalentar el horno a 180 ºC. Untar el molde con caramelo líquido y reservar.</p>

    <div style="text-align: center;">
        <figure class="figure">
            <img src="https://imag.bonviveur.com/untar-el-molde-grande-con-caramelo-liquido.jpg" width="600" height="500"
                class="figure-img img-fluid rounded" alt="flan de queso">
            <figcaption class="figure-caption">Molde con caramelo</figcaption>
        </figure>
    </div>

<p>Extraer las semillas de la vainilla e incorporar a la leche para aromatizarla, a fuego suave, sin que llegue a
    hervir, durante 20 minutos. Enfriar, colar y reservar.</p>

    <div style="text-align: center;">
        <figure class="figure">
            <img src="https://imag.bonviveur.com/leche-infusionada-con-vainilla.jpg" width="600" height="500"
                class="figure-img img-fluid rounded" alt="flan de queso">
            <figcaption class="figure-caption">Leche con semillas de vainilla</figcaption>
        </figure>
    </div>

<p>En un procesador de alimentos, batir los huevos junto a la leche aromatizada, la leche condensada y el mascarpone.
    Estará lista cuando obtengamos una masa líquida sin grumos. Incorporar en el molde y hornear a 180 ºC al baño María
    durante 60 minutos. Hacer la prueba del palillo para comprobar que el flan de queso está cuajado.</p>
        <div style="text-align: center;">
            <figure class="figure">
                <img src="https://imag.bonviveur.com/rellenar-con-la-mezcla-batida-y-hornear-al-bano-maria.jpg"width="600" height="500"
                    class="figure-img img-fluid rounded" alt="flan de queso">
                <figcaption class="figure-caption">Mezcla de ingredientes</figcaption>
            </figure>
        </div>
<p>También pueden utilizarse moldes individuales.</p>
        <div style="text-align: center;">
            <figure class="figure">
                <img src="https://imag.bonviveur.com/flan-de-queso-en-molde-pequeno.jpg"  width="600"
                    height="500" class="figure-img img-fluid rounded" alt="flan de queso">
                <figcaption class="figure-caption">Molde individual</figcaption>
            </figure>
        </div>
<p>Enfriar, desmoldar y reservar en el frigorífico hasta su consumo. Antes de servir, decorar con piñones y frambuesas.
</p>
        <div style="text-align: center;">
            <figure class="figure">
                <img src="https://imag.bonviveur.com/flan-de-queso.jpg" width="600" height="500"
                    class="figure-img img-fluid rounded" alt="flan de queso">
                <figcaption class="figure-caption">Presentación clásica</figcaption>
            </figure>
        </div>
<hr>

<h2><strong>Resumen fácil de preparación </strong></h2>
<ol>
    <li>Precalentar el horno a 180 ºC</li>
    <li>Untar el molde con el caramelo</li>
    <li>Aromatizar la leche con la vainilla</li>
    <li>Batir todos los ingredientes hasta conseguir una masa líquida</li>
    <li>Introducir en el molde y hornear a 180 ºC durante 60 minutos al baño María</li>
    <li>Enfriar y desmoldar</li>
    <li>Reservar en el frigorífico</li>
    <li>Decorar con frambuesas y piñones</li>

<hr>


{% endblock %}